@font-face {
  font-family: 'ZCOOLQingKeHuangYou-Regular';
  src: url('../fonts/ZCOOLQingKeHuangYou-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Silkscreen-Regular';
  src: url('../fonts/Silkscreen-Regular.ttf');
}
@font-face {
  font-family: 'NotoSansSC-Regular';
  src: url('../fonts/NotoSansSC-Regular.otf');
  font-display: swap;
}