@font-face {
  font-family: 'ZCOOLQingKeHuangYou-Regular';
  src: url('../fonts/ZCOOLQingKeHuangYou-Regular.ttf');
}
@font-face {
  font-family: 'Silkscreen-Regular';
  src: url('../fonts/Silkscreen-Regular.ttf');
}